{% extends 'blog/base.html' %}

{% block content %}
<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
<div class="post">
    <h2>{{ post.title }}</h2>
    <p>{{ post.text|linebreaksbr }}</p>
    {% if post.published_date %}
    <div class="date">
        {{ post.published_date }}
    </div>
    {% endif %}
</div>
{% endblock %}