{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">   
            <h2><a href="{% url 'post_detail' pk=post.pk%}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <div class="date">
                {{ post.published_date }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
